<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/depositFormSubmit.css" />
    <link rel="stylesheet" href="/css/depositFormMaker.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="banner"><p>💻컴퓨터공학과 과잠💻</p></div>
      <nav class="navs">
        <ul class="nav-left">
          <li class="pageBtn">새소식</li>
          <li class="pageBtn">채팅</li>
        </ul>
        <ul class="nav-right">
          <li class="adminBtn">수요조사통계</li>
          <li class="adminBtn">입금폼 양식 작성</li>
          <li class="adminBtn">입금폼 통계</li>
        </ul>
      </nav>
      <!-- TODO: get current USER -->
      <form
        id="answersForm"
        action="/CoBuyForm/<%= deposit_form.id %>/submit/twenty"
        method="post"
      >
        <div class="form_container">
          <% for(var key in deposit_form.questions) { %>
          <div class="Question">
            <p><%= key %>. <%= deposit_form.questions[key] %></p>
          </div>
          <label for="<%= key %>"></label>
          <input
            type="text"
            name="<%= key %>"
            style="width: 700px; height: 32px; font-size: 20px"
          />
          <% } %>
        </div>
        <button id="submitBtn" type="submit" form="answersForm">제출</button>
      </form>
    </div>
  </body>
</html>
