<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatting</title>
    <link rel="stylesheet" href="/css/chatting.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  </head>
  <body>
    <div class="gonggu_header" style="cursor: pointer" onclick="location.href='/CoBuyRoom/<%= cobuyroom.id %>/detail';">
      <div>
        <p><%= cobuyroom.title %></p>
      </div>
    </div>

    <div class="gonggu_nav">
      <div>
        <nav>
          <ul>
            <li><button class="message_type_button" style="cursor: pointer" onclick="location.href='/CoBuyRoom/<%= cobuyroom.id %>/newpost';">새소식</button></li>
            <li><button class="message_type_button" style="cursor: pointer" onclick="location.href='/CoBuyRoom/<%= cobuyroom.id %>/chatting';">채팅</button></li>
            <% if(current_user_id == host_user_id) { %>
            <li style="float: right">
              <button class="grey_s_button" style="margin-left: 5px; cursor: pointer" onclick="location.href='/CoBuyRoom/<%=cobuyroom.id%>/suyoStat';">수요조사 통계</button>
            </li>
            <li style="float: right">
              <button class="grey_s_button" style="margin-left: 5px; cursor: pointer" onclick="location.href='/CoBuyForm/<%= cobuyroom.id %>/depositFormMaker';">입금폼 양식 작성</button>
            </li>
            <li style="float: right">
              <button class="grey_s_button" style="margin-left: 5px; cursor: pointer" onclick="location.href='/CoBuyForm/<%= cobuyroom.id %>/depositFormResult';">입금폼 통계</button>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>

    <main>
      <% if (chatroom_using) { %>
      <div>
        <div class="fontSize16 marginTop20" id="chattingBox">
          <% for(var i = 0; i < messages.length; i++) { %> <% if(messages[i].user_id == user_id){ %>
          <div class="chattingFromMe flex">
            <div><img src="/images/profileImageExample.png" /></div>
            <div>
              <div class="messageBox"><%= messages[i].chat_message %></div>
              <div class="date"><%= dates[i] %></div>
            </div>
          </div>
          <% } %> <% if(messages[i].user_id != user_id){ %>
          <div class="chattingFromYou flex">
            <div><img src="/images/profileImageExample.png" /></div>
            <div>
              <div class="messageBox"><%= messages[i].chat_message %></div>
              <div class="date"><%= dates[i] %></div>
            </div>
          </div>
          <% } %> <% }; %>
        </div>

        <div class="participantBox">
          <!-- 일반 유저(주최자 아님)일 경우 -->
          <% if(!is_room_creater) { %>
          <p style="cursor: pointer"><%= creator.login_id %> (공동구매 주최자)</p>
          <% } %>
          <!-- 공동구매 주최자일 경우 -->
          <% if(is_room_creater) { %> <% for(id of chat_user_login_ids) { %>
          <p style="cursor: pointer"><%= id.login_id %></p>
          <% } %> <% } %>
        </div>

        <div class="marginTop30">
          <div>
            <input class="fontSize14" type="text" id="message" placeholder="채팅 메시지를 입력해주세요." />
            <button id="sendButton" onclick="send()" style="cursor: pointer">전송</button>
          </div>
        </div>
      </div>
      <% } else { %>
      <p style="margin-left: 40.5px">채팅을 보낸 유저가 없습니다.</p>
      <% } %>
    </main>
    <!-- script로의 변수 전달 용도 -->
    <% if(chatroom_using) { %>
    <div
      class="data_div"
      data-chatroom_id="<%= chatroom_using.id %>"
      data-cobuying_room_id="<%= cobuyroom.id %>"
      data-user_id="<%=user_id %>"
      data-guest_id="<%=chatroom_using.guest_id %>"
      data-host_id="<%=chatroom_using.host_id %>"
    ></div>
    <% } %>
  </body>
</html>
