<!DOCTYPE html>
<html>
  <head>
    <title>✨성신마인 09번지🔮</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/room.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="gonggu_header">
      <div>
        <p> <%= detail.title %> </p>
        <button class="gonggu_delete_button">공동구매방 삭제하기</button>
      </div>
    </div>


      <div class="gonggu_nav">
        <div>
          <nav>
            <ul>
              <li><button class="message_type_button">새소식</button></li>
              <li><button class="message_type_button">채팅</button></li>
              <li style="float: right;"><button class="grey_s_button" style="margin-left: 5px;">수요조사 통계</button></li>
              <li style="float: right;"><button class="grey_s_button" style="margin-left: 5px;">입금폼 양식 작성</button></li>
              <li style="float: right;"><button class="grey_s_button" style="margin-left: 5px;">입금폼 통계</button></li>
            </ul>
          </nav>
        </div>
      </div>
      <% Array.from(details).forEach( detail => { %>
      <div class="room_detail">
        <div class="overview">
          <img src="<%= `${detail.real_url}` %>" class="product_img" width="406" height="314">
          <br>
          <div>
            <span class="fontSize18"><%= detail.name %> 1개당&nbsp;&nbsp;&nbsp;</span>
            <span class="fontSize36 fontBold"> <%= detail.price %>원 </span> <br>
          <button class="wantBtn BackgroundColorPurple ColorLightPurple" type="button">
          살래요👍</button> <br>
          
          <span class="fontSize15">
          현재 <%=detail.current_demand%>명의 수정이들이 이 제품을 갖고 싶어해요!
          </span>
        </div>
      </div>

      <div class="product_detail">
        <p class="fontSize24 fontBold">상품 소개</p>
        <div class="product_content">
          <%= detail.description %>
        </div>
        <div class="textCenter">
          <button class="createDepositFormBtn" type="button">입금폼 작성하기</button>
          <br>
          <span class="fontSize15">입금폼 제출 마감일까지 2일 남았어요!</span>
        </div>
      </div>
      <% }); %>
  </body>
</html>
