<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet" />
</head>
<body>
    <main>
        <div>
            <div id="myPageTitleBox">
                <h1 class="center flex">마이페이지</h1>
            </div>
            <div class="flex marginLeft10">
                <div class="flexDirectionColumn" id="leftContainer">
                    <h2>계정 설정</h2>
                    <% Array.from(userInfos).forEach(userInfo => { %>
                        <%if (userInfo.id == 2) {%>
                            <div class="marginTop30">
                                <div class="purpleLetters fontSize18">이메일</div>
                                <div class="fontSize16"><%=userInfo.student_number%>@sungshin.ac.kr</div>
                                <div class="purpleLetters fontSize15" id="certifiedEmail">인증된 이메일입니다.</div>
                            </div>
                            <div class="marginTop30">
                                <div class="purpleLetters fontSize18">아이디</div>
                                <div class="fontSize16"><%=userInfo.login_id%></div>
                            </div>
                            <div class="marginTop30">
                                <div class="flex">
                                    <span class="purpleLetters marginRight30 fontSize18">비밀번호</span>
                                    <button class="fontSize15 grayButton changeButton center flex">변경</button>
                                </div>
                                <div class="fontSize16">
                                    <% for (var i = 0; i < userInfo.password.length; i++) { %>
                                        <span>*</span>
                                    <%}%>
                                </div>
                            </div>
                            <div class="marginTop30">
                                <div class="flex">
                                    <span class="purpleLetters marginRight30 fontSize18">전화번호</span>
                                    <button class="fontSize15 grayButton changeButton center flex">변경</button>
                                </div>
                                <div class="fontSize16"><%=userInfo.phone_number%></div>
                            </div>
                        <%}%>
                    <%})%>
                </div>
                <div id="rightContainer">
                    <h2>공동구매 현황</h2>
                    <input type="radio" id="participation" name="show" checked>
                    <input type="radio" id="host" name="show">
                    <div class="flex fontSize15" id="twoButtonsBox">
                        <label for="participation" class="grayButton button center flex marginRight30">내가 참여</label>
                        <label for="host" class="grayButton button center flex">내가 주최</label>
                    </div>
                    <div class="marginTop20 ulBoxes">
                        <div>
                            <div class="fontSize18" id="listTitle">
                                <span>내가 참여한 공구방</span>
                                <span class="purpleLetters">(<%=numOfMyParticipations%>)</span>
                            </div>
                            <ul>
                                <% Array.from(myParticipations).forEach(myParticipation => { %>
                                    <li class="flex myPageLi">
                                        <div><img src="imageExample.png" width="60px" height="60px"></div>
                                        <div class="productInfo">
                                            <div class="fontSize14">공동구매번호 
                                                <%if (myParticipation.cobuying_room_id >=0 & myParticipation.cobuying_room_id< 10) {%>
                                                    <span>00000<%=myParticipation.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myParticipation.cobuying_room_id >=10 & myParticipation.cobuying_room_id < 100) {%>
                                                    <span>0000<%=myParticipation.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myParticipation.cobuying_room_id >=100 & myParticipation.cobuying_room_id < 1000) {%>
                                                    <span>000<%=myParticipation.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myParticipation.cobuying_room_id >=1000 & myParticipation.cobuying_room_id < 10000) {%>
                                                    <span>00<%=myParticipation.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myParticipation.cobuying_room_id >=10000 & myParticipation.cobuying_room_id < 100000) {%>
                                                    <span>0<%=myParticipation.cobuying_room_id%></span>
                                                <%}%> 
                                                <%if (myParticipation.cobuying_room_id >=100000 & myParticipation.cobuying_room_id < 1000000) {%>
                                                    <span><%=myParticipation.cobuying_room_id%></span>
                                                <%}%> 
                                            </div>
                                            <div class="productName"><%= myParticipation.title %></div>
                                            <div class="statusLetters fontSize14">
                                                <span>상태: </span>
                                                <%if (myParticipation.state == 'demand') { %>
                                                    <span>수요조사 중</span>
                                                <% } %>
                                                <%if (myParticipation.state == 'deposit') { %>
                                                    <span>입금 중(입금폼 제출 마감일 <%= myParticipation.end_at %>)</span>
                                                <%}%>
                                                <%if (myParticipation.state == 'ready') {%>
                                                    <span>배송 준비 중</span>
                                                <%}%>
                                                <%if (myParticipation.state == 'delivery') {%>
                                                    <span>배송 중</span>
                                                <%}%>
                                                <%if (myParticipation.state == 'complete') {%>
                                                    <span>배송 완료</span>
                                                <%}%>
                                            </div>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>
                        <div>
                            <div class="fontSize18" id="listTitle">
                                <span>내가 주최한 공구방</span>
                                <span class="purpleLetters">(<%=numOfMyHosts%>)</span>
                            </div>
                            <ul>
                                <% Array.from(myHosts).forEach(myHost => { %>
                                    <li class="flex myPageLi">
                                        <div><img src="imageExample.png" width="60px" height="60px"></div>
                                        <div class="productInfo">
                                            <div class="fontSize14">공동구매번호 
                                                <%if (myHost.cobuying_room_id >=0 & myHost.cobuying_room_id< 10) {%>
                                                    <span>00000<%=myHost.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myHost.cobuying_room_id >=10 & myHost.cobuying_room_id < 100) {%>
                                                    <span>0000<%=myHost.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myHost.cobuying_room_id >=100 & myHost.cobuying_room_id < 1000) {%>
                                                    <span>000<%=myHost.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myHost.cobuying_room_id >=1000 & myHost.cobuying_room_id < 10000) {%>
                                                    <span>00<%=myHost.cobuying_room_id%></span>
                                                <%}%>
                                                <%if (myHost.cobuying_room_id >=10000 & myHost.cobuying_room_id < 100000) {%>
                                                    <span>0<%=myHost.cobuying_room_id%></span>
                                                <%}%> 
                                                <%if (myHost.cobuying_room_id >=100000 & myHost.cobuying_room_id < 1000000) {%>
                                                    <span><%=myHost.cobuying_room_id%></span>
                                                <%}%> 
                                            </div>
                                            <div class="productName"><%= myHost.title %></div>
                                            <div class="statusLetters fontSize14">
                                                <span>상태: </span>
                                                <%if (myHost.state == 'demand') { %>
                                                    <span>수요조사 중</span>
                                                <% } %>
                                                <%if (myHost.state == 'deposit') { %>
                                                    <span>입금 중(입금폼 제출 마감일 <%= myHost.end_at %>)</span>
                                                <%}%>
                                                <%if (myHost.state == 'ready') {%>
                                                    <span>배송 준비 중</span>
                                                <%}%>
                                                <%if (myHost.state == 'delivery') {%>
                                                    <span>배송 중</span>
                                                <%}%>
                                                <%if (myHost.state == 'complete') {%>
                                                    <span>배송 완료</span>
                                                <%}%>
                                            </div>
                                        </div>
                                    </li>
                                <% }) %>
                            </ul>
                        </div>   
                    </div>
                    <div id="moreButton" class="fontSize16 center flex">
                        더보기
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>